<div class="col-12 col-md-7 card mb-4 ml-m-5 mt-3 ">
  <div class="card-body">
  <!-- Dispaly blog post comments -->
      <!-- Count number of comments -->
      <h2>{{ comments.count }} Comments</h2>
      <!-- Iterate through comments -->
      {% for comment in comments %}
      <div>
        <p class="font-weight-bold">
          {{ comment.name }}
          <div class="text-muted font-weight-normal">
            {{ comment.created_on }}
          </div>
        </p>
        <div class="font-weight-normal">
        {{ comment.body | linebreaks }}
        </div>
        <hr>
      </div>
      {% endfor %}
  </div>
</div>

<div class="col-md-7 card mb-4 ml-m-5 mt-3 ">
  <div class="card-body">
    {% if new_comment %}
    <!-- Let user know their comment is being moderated -->
      <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
      </div>
      {% else %}
    <!-- Let user comment on the blog post -->
      <h3 class="mb-3">Leave a comment</h3>
      <form method="post">
        {% csrf_token %}
        {{ comment_form|crispy }}
        
        <button type="submit" class="btn blog-read-more">
        Submit
        </button>
      </form>
      {% endif %}
  </div>
</div>