{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="h-100 home-hero">
    <div class="row h-100">
        <div class="col-xl-12 col-md-6 home-hero-padding">
            <h1 class="display-4 text-center main-heading">
                Adventurous landscape photography
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 hero-btn-padding btn-font py-3" role="button">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
    <hr>
</div>


<div class="container">

    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h2>Browse David's photography by category</h2>
            <p class="primary-text">(Hover over each image to sort product images)</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="/">
                    <img src="media/susquehanna1.jpeg" alt="Sunlight on Susquehanna River" class="image-categories">
                    <div class="overlay">
                        <div class="overlay-text"> <a class="overlay-link" href="#" role="button">Shop all photos</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="/">
                    <img src="media/glacier-yosemite-1.jpeg" alt="Glacier at Yosemite National Park"
                        class="image-categories">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="#" class="overlay-link" role="button">Mountain photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="/">
                    <img src="media/red-rocks1.jpg" alt="Red rock cliffs in Sedona, Arizona" class="image-categories">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="#" class="overlay-link"  role="button">Desert photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="/">
                    <img src="media/cape-mears1.jpg" alt="View over cliffs in Cape Mears, Oregan"
                        class="image-categories">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="#" class="overlay-link"  role="button">Ocean & beach photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="/">
                    <img src="media/buffalos.jpg" alt="Buffalo at Yellowstone National Park" class="image-categories">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="#" class="overlay-link"  role="button">Animal photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="/">
                    <img src="media/susquehanna2.jpg" alt="Mist over the Suesquehanna River in Pennsylvania"
                        class="image-categories">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="#" class="overlay-link"  role="button">River & lake photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="h-100 home-hero2">
    <hr>
    <div class="row h-100">
        <div class="col-xl-12 col-md-6 mb-5 home-hero-padding">
            <h2 class="text-center"><span class="h2-background">| Check out our latest blog posts about travel &
                    photography |</span></h2>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-8 mt-3 ml-5 mb-5 home-blog1">
                    <div class="card">
                        <div class="card-horizontal">
                            <div>
                                <img class="" src="media/sedona-blog1.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center">Card title</h3>
                                <p class="primary-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>
                                <br>
                                <div class="text-center">
                                    <a href="#" class="blog-read-more">Read full blog post</a>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3 ml-5 mb-5 home-blog2">
                    <div class="card">
                        <div class="card-horizontal">

                            <div class="card-body">
                                <h3 class="text-center">Card title</h3>
                                <p class="primary-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>
                                <br>
                                <div class="text-center">
                                    <a href="#" class="blog-read-more">Read full blog post</a>
                                </div>
                            </div>

                            <div>
                                <img class="" src="media/sedona-blog1.jpg" alt="Card image cap">
                            </div>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-8 mt-3 ml-5 mb-5 home-blog1">
                    <div class="card">
                        <div class="card-horizontal">
                            <div>
                                <img class="" src="media/sedona-blog1.jpg" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center">Card title</h3>
                                <p class="primary-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>
                                <br>
                                <div class="text-center">
                                    <a href="#" class="blog-read-more">Read full blog post</a>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}