{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% include 'home/includes/home-banner.html'%}
{% endblock %}

{% block content %}


<div class="container">

    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h2>Browse David's photography by category</h2>
            <p class="primary-text">(Hover over each image to sort product images)</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="{% url 'products' %}">
                    <img src="{% static 'media/susquehanna1.jpg' %}" alt="Sunlight on Susquehanna River" class="image-categories shadow-lg">
                    <div class="overlay">
                        <div class="overlay-text"> <a class="overlay-link" href="{% url 'products' %}"  role="button">Shop all photos</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="{% url 'products' %}?category=mountain_photography">
                    <img src="{% static 'media/glacier-yosemite-1.jpeg' %}" alt="Glacier at Yosemite National Park" 
                        class="image-categories shadow-lg">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="{% url 'products' %}?category=mountain_photography" class="overlay-link" role="button">Mountain photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="{% url 'products' %}?category=desert_photography">
                    <img src="{% static 'media/red-rocks1.jpg' %}" alt="Red rock cliffs in Sedona, Arizona" class="image-categories shadow-lg">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="{% url 'products' %}?category=desert_photography" class="overlay-link"  role="button">Desert photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="{% url 'products' %}?category=beach_and_ocean_photography">
                    <img src="{% static 'media/cape-mears1.jpg' %}" alt="View over cliffs in Cape Mears, Oregan" 
                        class="image-categories shadow-lg">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="{% url 'products' %}?category=beach_and_ocean_photography"  class="overlay-link"  role="button">Ocean & beach photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="{% url 'products' %}?category=animal_photography">
                    <img src="{% static 'media/buffalos.jpg' %}" alt="Buffalo at Yellowstone National Park" class="image-categories">
                    <div class="overlay"> 
                        <div class="overlay-text">
                            <a href="{% url 'products' %}?category=animal_photography" class="overlay-link shadow-lg"  role="button">Animal photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="overlay-hover">
                <a href="{% url 'products' %}?category=river_and_lake_photography">
                    <img src="{% static 'media/susquehanna2.jpg' %}" alt="Mist over the Suesquehanna River in Pennsylvania"
                        class="image-categories shadow-lg">
                    <div class="overlay">
                        <div class="overlay-text">
                            <a href="{% url 'products' %}?category=river_and_lake_photography" class="overlay-link"  role="button">River & lake photography</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'home/includes/home-blog.html'%}

{% endblock %}