<div class="row">
{% if related_products%}
        
    <div class="product-container col-10 offset-1">
        <div class="row">
            <hr class="w-50 mb-1">
            <div class="col-12 text-center mt-3">
                <h2>Related Products</h2>
                <hr class="w-50 mb-1">
            </div>
        {% for product in related_products%}


            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-4 py-4">
                <div class="card h-100 border-0">
                    {% if product.image %}
                    
                        <img class="card-img-top2 product-card-shadow img-fluid product-img-dimensions2" src="{{ product.image.url }}" alt="{{ product.name }}">
                    
                    {% else %}
                    
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    
                    {% endif %}
                    <div class="card-footer2 product-card-shadow">
                        <div class="px-3 py-2">
                            
                            <p class="mb-2 text-white text-center">{{ product.name }} 
                            </p>
                            <p class="lead mb-2 text-left font-weight-bold text-center text-white">${{ product.price }}
                            </p>
                        </div>
                        <div class="text-center mb-2">
                            
                            <a class="btn btn-light" href="{% url 'product_detail' product.id %}" role="button">Product details</a>
                        </div>

                    </div>
                    
                    
                </div>
            </div>
        
        {% endfor %}
        </div>
    </div>
    
    {% else %}
    <div></div>
    {% endif %}
</div>