html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fefae0;
}

.contact-border {
    border: 1px solid black;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #4464AD; /* text-info */
}

.auth-font-btn {
    color: #fff!important;
}


/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Main nav */

.bg-green {
    background: #243116;
}

.bg-beige {
    background: #fefae0;
}

#brand {
    color: #dda15e;
    font-family: 'David Libre', serif;
    font-size: 30px;
}

a.nav-link {
    color: #fefae0;
    font-family: 'Aleo', serif;
    font-size: 18px;
}

a.nav-link:hover {
    color: #dda15e;
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #fefae0;
}

.dropdown-item {
    font-family: 'Aleo', serif;
    color: #0a0e06;
}

.dropdown-item:hover {
    background-color: #dda15e;
}


.in-cart {
    color:#fffc31!important;
}

/* Main text styles */

.main-heading {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #0a0e06;
}

h2 {
    font-family: 'Zen Antique Soft', serif;
    color: #0a0e06;
}

h3 {
    font-family: 'Zen Antique Soft', serif;
    color: #0a0e06;
}

h4 {
    font-family: 'Lato', serif;
    color: #0a0e06;
    font-size: 24px;
}

.h2-background {
    background-color: #dda15e;
    border-style: double;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.shipping-font {
    font-size: 24px;
}

.primary-text {
    color: #0a0e06;
}

/* Home page */

.home-hero {
    background: url('/media/david-kelley-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.home-hero2 {
    background: url('/media/david-kelley-background2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.profile-hero {
    background: url('/media/david-kelley-bg4.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.shipping-banner {
    background-color: #dda15e;
}

.home-hero-padding {
    padding-top: 13%;
}

.hero-btn-padding {
    margin-left: 23%;
}

.btn-font {
    font-family: 'Ubuntu', sans-serif;
    background: #DDA15E;
    color: #0a0e06;
    min-width: 260px;
    border: 2px dashed #0a0e06;
}

.btn-font:hover {
    background:#606c38;
    color: #fefae0;
    text-decoration: underline;
}

hr {
    border: 1px dashed;
}

.home-photo-mobile-caption {
    display: none;
}

.image-categories {
    height: auto;
    width: 100%;
    border-radius: 15px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-hover:hover .image-categories{
    opacity: 0.3;
  }
  
  .overlay-hover:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    background-color: #dda15e;
    color: #0a0e06;
    font-size: 18px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px dashed #0a0e06;
  }

  .overlay-text:hover {
      background: #606c38;
  }

  .overlay-link {
    color: #0a0e06;
  }

  .overlay-link:hover {
    color: #fefae0;
  }

  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5)!important;
}

  .home-blog-image {
      width: 300px;
      height: 180px;
  }

  .blog-read-more {
    background-color: #606c38;
    color: #fefae0;
    font-size: 18px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px dashed #DA962F;
  }

  .blog-read-more:hover {
    background-color: #DA962F;
    color: #0a0e06;
    text-decoration: underline;
  }

  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.home-blog1 {
    padding-left: 10%;
    padding-right: 35%;
}

.home-blog2 {
    padding-right: 15%;
    padding-left: 30%;
}

.card {
    background: #fefae0;
    border: 2px solid;
}

/* Footer */

.footer-line {
    border: 1px dashed #DDA15E;
}


.footer-text {
    font-family: 'Lato';
    font-size: 18px;
    color: #fefae0;
}

#footer-brand {
    color: #dda15e;
    font-family: 'David Libre', serif;
    font-size: 30px;
}

.footer-links {
    color: #DA962F;
    font-family: 'Aleo', serif;
    font-size: 18px;
}

.footer-links:hover {
    color: #fefae0;
}

/* About page*/

.abstract-svg {
    height: 500px;
    width: auto;
}

.about-pic {
    height: 450px;
    width: auto;
    position: absolute;
    right: 15%;
    top: 7%;
    z-index: 2;
    border-radius: 4em 8em;
}

.about-text {
    right: 5%;
}

.form-padding {
    padding: 5% 10%;
}

.form-border {
    padding: 5%;
    border: 2px solid #bc6c25;
}

.contact-icon {
    color: #606c38;
}

.form-button {
    background-color: #fefae0;
    color: #0a0e06;
    font-size: 18px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px dashed #DA962F;
}

.form-button:hover {
    background-color: #DA962F;
    color: #0a0e06;
    text-decoration: underline;
  }

/* Main products page*/

.products-hero {
    background: url('/media/david-kelley-background3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.category-link {
    color: #606c38;
    float: left;
    font-family: 'Aleo';
    font-size: large;
}

.category-link:hover {
    color: #0a0e06;
}

.category-padding {
    padding-left: 25%;
}

.product-img-dimensions {
    height: auto;
    width: 100%;
}

.card-img-top2 {
    border-radius: 15px 15px 0px 0px;
}

.card-footer2 {
    background: #606c38;
    border-radius: 0px 0px 15px 15px;
}

.product-card-shadow {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5);
}

a.select-heart {
    color: red;
}

a.wishlist-heart {
    color:#fefae0;
}

a.wishlist-heart:hover {
    color: red;
}

.btn-light {
    border: 1.5px dashed;
    font-family: 'Ubuntu', sans-serif;;
}

.btn-light:hover {
    background:#DA962F;
    text-decoration: underline;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Product details page*/

.breadcrumb {
    background-color: #fefae0;
    font-family: 'Aleo';
}

.breadcrumb-item a {
    color:#606c38;
}

.breadcrumb-item a:hover {
    color: #0a0e06;
}

.product-btn-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

a.back-shop-link {
    color: #243116;
}

a.back-shop-link:hover {
    color: #bc6c25;
}

.buy-btn {
    background: #DDA15E;
    color: #0a0e06;
    border: 2px dashed #0a0e06;
    min-width: 160px;
    padding: 10px;
}

.buy-btn:hover {
    background:#606c38;
    color: #fefae0;
    text-decoration: underline;
}

.product-img-dimensions2 {
    width: 100%;
    height: auto;
}

select.input-blue {
    background-color: blue!important;
}

/* Main blog page */

.blog-page-image {
    width: 350px;
    height: 280px;
}

.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #243116;
  color: #fefae0;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  border: 2px solid;
  background: #606c38;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #fefae0;
}

.blog-grid .blog-info h5 a:hover {
    background: #DA962F;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #fffc31;
    font-size: 18px;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

.px-btn-arrow:hover {
    color: white;
}

.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Post details page */

.blog-sidebar-image {
    width: 100%;
    height: auto;
}

/* Mobile modal css */

.mobile-navigation {
    display: none;
}

/*Burger-Menu*/

.menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: #fefae0;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}

/*Fake-Trigger*/
#sized {
    width:50px;
    height:35px;
    color:transparent;
    background-color: transparent;
    border: transparent;
}

/*Modal-Box*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding:0.5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #fefae0;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefae0;
    border-bottom: none;
    height:20%;
}

.modal-body {
    padding: 2px 16px;
    background-color: #fefae0;
}

.modal-footer {
    /* padding: 2px 16px; */
    background-color: #fefae0;
    color: black;
    border-top: none;
    text-align: center;
}

.modal-footer>p {
  color:#0a0e06;
}

.modal-footer a {
    color:#243116;
}

.modal-footer a:hover {
    color:#0a0e06;
    text-decoration: underline;
}

.modal-footer h3 {
    text-transform: none;
    font-size:4vh;

}

.close {
    color: #606c38;
    float: left;
    font-size: 3em;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bc6c25;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* Mobile link styles */

.nav ul li a:hover{
    color: #bc6c25;
}

.nav ul li a {
    padding:1em;
    font-family: 'Aleo', serif;
    font-weight: 600;
    color: #606c38;
    font-size:3vw;
    letter-spacing: -0.05em;
}

.nav ul li{
    list-style: none;
    font-size: 3em;
}

.nav ul{
    clear: both;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width:1080px){

    .abstract-svg {
        height: 59%;
        width: auto;
    }

    .about-pic {

        height: 65%;
        width: auto;

    }
}


@media only screen and (max-width:926px){

    .display-4 {
        font-size: 2.8rem;
    }

    .footer-text {
        font-size: 16px;
    }

    .footer-links {
        font-size: 16px;
    }

    .nav ul li a {
        font-size: 20px;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .desktop-nav-account2 {
        display: block;
    }

    .mobile-cart {
        font-size: 16px!important;
    }

    .mobile-price {
        font-size: 16px;
    }

    #brand {
        font-size: 22px;
        padding-left: 35%;
    }

    #footer-brand {
        font-size: 22px;
    }

    #sized {
        width: 75px;
        height: 45px;
    } 
    
    .right-mobile-nav {
        padding-left: 5%;
    }

    /* Home page */

   h4 {
        font-size: 20px;
    }

    .shipping-font {
        font-size: 20px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .card-horizontal {
        display: block;
    }

    .home-blog-image {
        width: 100%;
        height: auto;
    }
    
    .home-photo-mobile-caption {
        display: block;
    }

    .caption-background {
        background: #DDA15E;
        border: 1px solid black;
    }

    /* About page */

    .about-pic {
        width: 46%;
        height: auto;
    }

    .about-text {
        right: 0%;
    }

    .form-padding {
        padding: 5% 2%;
    }

    .mobile-contact-info {
        font-size: 13px;
    }

    /* Products pages */

    .category-padding {
        padding-left: 15%;
    }

    .search-padding {
        padding: 0 20% 0 20%;
    }

    /* Profile pages */

    .wishlist-button {
        font-size: 11px;
    }

}

@media only screen and (max-width:820px){

    #brand {
        padding-left: 27%;
    }

    .products-hero {
        background: url('/media/david-kelley-background3.jpg') no-repeat center center;
        background-size: cover;
    }

    .home-hero {
        background: url('/media/david-kelley-background.jpg') no-repeat center center;
        background-size: cover;
    }

    .home-hero2 {
        background: url('/media/david-kelley-background2.jpg') no-repeat center center;
        background-size: cover;
    }

    .product-btn-font {
        font-size: 16px;
    }
}

@media only screen and (max-width:667px){

    #brand {
        padding-left: 17%;
    }

    .home-mobile-categories {
        padding-bottom: 12%;
    }

    .category-padding {
        padding-left: 5%;
    }
}

@media only screen and (max-width:430px){

    .display-4 {
        font-size: 2.6rem;
    }

    #sized {
        width:50px;
        height:35px;
    }

    .desktop-nav-account {
        display: none;
    }

    .desktop-nav-account2 {
        display: block;
    }
    
    #brand {
        font-size: 16px;
        padding-left: 2%;
        padding-top: 3%;
    }

    .mobile-cart {

        padding-right: 2%;
        padding-top: 2%;
    }

    .mobile-cart-padding {
        padding-right: 2%;
        padding-top: 2%;
    }

    /* Home page */

    .home-heading-mobile {
        padding-top: 25%;
    }

    .btn-font {
        min-width: 200px;
        font-size: 18px;
    }

    .h2-background {
        border-style: none;
        line-height: 2.0rem;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .home-blog-mobile {
        width: 77%;
    }

    .blog-read-more {
        font-size: 16px;
        padding: 12px 28px;
    }

    .home-blog1 {
        padding-left: 0%;
        padding-right: 0%;
    }

    .home-blog2 {
        padding-left: 0%;
        padding-right: 0%;
    }

    /* About page */

    .abstract-svg {
        height: 95%;
        width: auto;
    }

    .about-pic {
        width: 55%;
    }
       

    /* Blog pages */

    .blog-heading-mobile {
        padding-top: 15%;
    }

     /* Product pages */

    .search-padding {
        padding: 3%;
    }

}