html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #fefae0;
}

.bg-green {
    background: #243116;
}

.bg-beige {
    background: #fefae0;
}

#brand {
    color: #dda15e;
    font-family: 'David Libre', serif;
    font-size: 30px;
}

a.nav-link {
    color: #fefae0;
    font-family: 'Aleo', serif;
    font-size: 18px;
}

a.nav-link:hover {
    color: #dda15e;
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #fefae0;
}

.dropdown-item {
    font-family: 'Aleo', serif;
    color: #0a0e06;
}

.dropdown-item:hover {
    background-color: #dda15e;
}

.home-hero {
    background: url('/media/david-kelley-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.home-hero2 {
    background: url('/media/david-kelley-background2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.main-heading {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #0a0e06;
}

h2 {
    font-family: 'Zen Antique Soft', serif;
    color: #0a0e06;
}

h3 {
    font-family: 'Zen Antique Soft', serif;
    color: #0a0e06;
}

.h2-background {
    background-color: #dda15e;
    border-style: double;
}

.primary-text {
    font-family: 'Lato', sans-serif;
    color: #0a0e06;
    font-size: 18px;
}


.home-hero-padding {
    padding-top: 13%;
}

.hero-btn-padding {
    margin-left: 23%;
}

.btn-font {
    font-family: 'Ubuntu', sans-serif;
    background: #DDA15E;
    color: #0a0e06;
    min-width: 260px;
    border: 2px dashed #0a0e06;
}

.btn-font:hover {
    background:#606c38;
    color: #fefae0;
}

hr {
    border: 1px dashed;
}

.footer-line {
    border: 1px dashed #DDA15E;
}

.image-categories {
    height: auto;
    width: 100%;
    border-radius: 15px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-hover:hover .image-categories{
    opacity: 0.3;
  }
  
  .overlay-hover:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    background-color: #dda15e;
    color: #0a0e06;
    font-size: 18px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px dashed #0a0e06;
  }

  .overlay-text:hover {
      background: #606c38;
  }

  .overlay-link {
    color: #0a0e06;
  }

  .overlay-link:hover {
    color: #fefae0;
  }

  .blog-read-more {
    background-color: #606c38;
    color: #fefae0;
    font-size: 18px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px dashed #DA962F;
  }

  .blog-read-more:hover {
    background-color: #DA962F;
    color: #0a0e06;
  }

  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.home-blog1 {
    padding-left: 10%;
}

.home-blog2 {
    padding-right: 15%;
    padding-left: 30%;
}

.card {
    background: #fefae0;
    border: 2px solid;
}

/* Footer */

.footer-text {
    font-family: 'Lato';
    font-size: 18px;
    color: #fefae0;
}

.footer-links {
    color: #DA962F;
    font-family: 'Aleo', serif;
    font-size: 18px;
}

.footer-links:hover {
    color: #fefae0;
}

/* About page*/

.abstract-svg {
    height: 500px;
    width: auto;
}

.about-pic {
    height: 450px;
    width: auto;
    position: absolute;
    right: 15%;
    top: 7%;
    z-index: 2;
    border-radius: 4em 8em;
}

.about-text {
    right: 5%;
}

.form-padding {
    padding: 5% 10%;
}

.form-border {
    padding: 5%;
    border: 2px solid #bc6c25;
}

.contact-icon {
    color: #606c38;
}

.form-button {
    background-color: #fefae0;
    color: #0a0e06;
    font-size: 18px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px dashed #DA962F;
}

.form-button:hover {
    background-color: #DA962F;
    color: #0a0e06;
  }

/* Main products page*/

.products-hero {
    background: url('/media/david-kelley-background3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.category-link {
    color: #0a0e06;
    float: left;
    font-family: 'Aleo';
    font-size: large;
}

.category-link:hover {
    color: #243116;
}

.category-padding {
    padding-left: 25%;
}

/* Mobile modal css */

.mobile-navigation {
    display: none;
}

/*Burger-Menu*/

.menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: #fefae0;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}

/*Fake-Trigger*/
#sized {
    width:60px;
    height:50px;
    color:transparent;
    background-color: transparent;
    border: transparent;
}

/*Modal-Box*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding:0.5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #fefae0;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fefae0;
    border-bottom: none;
    height:35vh;
}

.modal-body {
    padding: 2px 16px;
    background-color: #fefae0;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #fefae0;
    color: black;
    border-top: none;
    text-align: center;
}

.modal-footer hr {
    margin-top: 20vh;
}

.modal-footer>p {
  color: #468966
}

.modal-footer h3 {
    text-transform: none;
    font-size:4vh;

}

.close {
    color: #606c38;
    float: left;
    font-size: 3em;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bc6c25;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* Mobile link styles */

.nav ul li a:hover{
    color: #bc6c25;
}

.nav ul li a {
    padding:1em;
    font-family: 'Aleo', serif;
    font-weight: 600;
    color: #606c38;
    font-size:3vw;
    letter-spacing: -0.05em;
}

.nav ul li{
    list-style: none;
    font-size: 3em;
}

.nav ul{
    clear: both;
    width: 100%;
    text-align: center;
}

.modal-line {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    width: 80px;
}

@media only screen and (max-width:812px){
    .mobile-navigation {
        display: block;
    }

    .desktop-nav {
        display: none;
    }

    #brand {
        font-size: 25px;
    }
}