<!-- Site footer -->
<hr class="footer-line">
<footer class="bg-green text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <a href="/">
                <p id="footer-brand">David Kelley Photography <i class="fab fa-pagelines"></i>
                </p>
            </a>
            <p class="text-left footer-text">
                I'm a landscape photographer from Harrisburg, Pennsylvania. Photography started out as a hobby for me & and a way for me to share my travels. Learn more about where I've been in my blog. You can also purchase gorgeous landscapes from all over the US and Ireland in the online shop.
            </p>
        </div>
  
        <!-- Footer nav links -->
        <div class="col-lg-3 col-md-6 mt-3 mb-4 mb-md-0">
          <p class="mb-0 footer-text">Links:</p>
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'products' %}" class="footer-links">Shop</a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="footer-links">About me</a>
            </li>
            <li>
              <a href="{% url 'blog' %}" class="footer-links">Blog</a>
            </li>
          </ul>
        </div>
  
        <!-- Contact button-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="text-center text-md-left mt-5">
            <a href="{% url 'about' %}#contact" class="form-button">
              Contact me
            </a>
          </div>
        </div>
      </div>
    </div>
</footer>