<div class="col-3 mobile-navigation">
    <button id="sized" class="menu">
      <span></span>
    </button>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content animated           zoomIn">
        <div class="modal-header"> 
          <span class="close">×</span>
        </div>

        <div class="modal-body nav">
          <ul>
            
            <li><a href="{% url 'about' %}">About me</a></li>
            <li><a href="#">Blog</a></li>
            <li class="nav-item dropdown list-inline-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Shop photography
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>
          </ul>
        </div>

        
        <div class="modal-footer">
          <hr class="modal-line">
          
          <p>
            <strong>Contact</strong>
            <br>David Kelley | +1 717-439-00001 |
          
            <b>your@emailadress.com</b>
          </p>
        </div>
      </div>

    </div>
  </div>