{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="h-100 home-hero2">
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-5 home-hero-padding">
            <h1 class="display-4 text-center main-heading">
                All blog posts
            </h1>
        </div>
    </div>    
    <hr>

</div>    


<section class="section gray-bg" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Latest News</h2>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4">
                
                <div class="blog-grid">
                    <div class="blog-img">
                        <div class="date">{{ post.updated_on }}</div>
                        
                            <img src="{{ post.image_url}}" class="blog-page-image"title="" alt="">
                       
                    </div>
                    <div class="blog-info">
                        <h5><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h5>
                        <p class="text-white">{{post.content|slice:":200" }}</p>
                        <div class="btn-bar">
                            <a href="{% url 'post_detail' post.slug  %}" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>

                        {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_post' post.slug %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_post' post.slug %}">Delete</a>
                                    </small>
                                    {% endif %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% endblock %}
