{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Home hero image -->
{% include 'products/includes/details-banner.html' %}
{% endblock %}

{% block content %}

<div class="containter">
    <div class="row m-5">
        <div class="col-12 m-5">
            <h1 class="text-center"> 404 Page not Found</h1>
            <div class="float-center">
                <a href="/" type="button" class="btn btn-lg btn-danger text-center">Go back home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}