{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block extra_meta %}
    <!-- SEO and social meta tags -->
    <meta property="og:title" content="David Kelley Photography"/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content="David Kelley photography is an online shop and blog about landscape photography. All proceeds from the shop will be donated to charity."/>
     <meta name="description" content="David Kelley photography is an online shop and blog about landscape photography. All proceeds from the shop will be donated to charity."/>
    <meta property="og:url" content="https://david-kelley-photography.herokuapp.com/"/>
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aleo&family=David+Libre&family=Goudy+Bookletter+1911&family=Lato&family=Ubuntu&family=Zen+Antique+Soft&display=swap"
        rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Mobile modal -->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>
   
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>
        David Kelley Photography {% block extra_title %}{% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23243116%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2281%22>📸</text></svg>" />
  </head>
  <body>
    
    <header class="container-fluid fixed-top bg-green">

      <div class="row">
      <!-- Desktop and mobile headers-->
        {% include 'includes/mobile-header.html' %}
        {% include 'includes/main-nav.html' %}
      </div>

    </header>
    

    {% block page_header %}
    {% endblock %}

    <!-- Alert messages -->
    {% if messages %}
      <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Include site footer -->
    {% include 'includes/footer.html' %}

    <!-- Toasts -->
    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}

  </body>
</html>