{% extends "base.html" %}
{% load static %}  
{% load crispy_forms_tags %}
{% crispy form %}

{% block page_header %}
{% include 'about/includes/about-banner.html'%}
{% endblock %}

{% block content %}

<div class="row h-100">
    <div class="col-lg-6">
        <img src="/media/dk-abstract-shape.svg" class="abstract-svg ml-3" alt="">
        <img src="https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmVydGljYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" class="about-pic" alt="">
    </div>
    <div class="col-lg-6 mt-5 about-text">
        <h3>
            Test
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim sem elit. Proin consequat libero vel
            luctus sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris interdum
            magna vestibulum risus porttitor facilisis. Etiam tristique interdum elit et imperdiet. Duis pulvinar urna et sem ornare
            eleifend. In tincidunt risus at augue tempor consectetur. Etiam vel nulla in risus vestibulum lacinia. Aliquam
            consectetur est vel elementum interdum. Donec id vulputate est. Praesent euismod lobortis leo, non rhoncus purus pretium
            et. Maecenas massa nulla, ultricies sit amet commodo eu, dapibus et purus. Praesent porttitor enim id neque iaculis
            ullamcorper. Donec eu dictum enim.
            
            Fusce a lectus vehicula, posuere ipsum in, ultrices nibh. Cras id magna lectus. Proin efficitur mauris non lorem
            imperdiet, sed eleifend arcu rutrum. Nunc auctor lectus in urna tristique, sed maximus sapien fermentum. Cras fringilla
            mauris ut viverra sagittis. Nam a elit pellentesque, lobortis lectus vulputate, bibendum diam. Aliquam eget lacus ut
            dolor accumsan feugiat commodo eget sapien. Nunc lacinia malesuada ex, nec efficitur nunc malesuada et.
        </p>
    </div>
</div>

{% include 'about/includes/contact-form.html'%}
{% endblock %}