<!-- <div id="delivery-banner" class="row text-center">
    <div class="col bg-black text-white">
        <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
    </div>            
</div> -->

<div class="h-100 home-hero">
    <div class="row h-100">
        <div class="col-xl-12 col-md-6 home-hero-padding">
            <h1 class="display-4 text-center main-heading">
                Adventurous landscape photography
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 hero-btn-padding btn-font py-3" role="button">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
    <hr>
</div>