<!-- Display most recent blog posts on home page -->
<div class="h-100 home-hero2">
    <hr>
    <div class="row">
        <div class="col-xl-12 my-5">
            <h2 class="text-center"><span class="h2-background">| Check out our latest blog posts about travel &
                    photography |</span>
            </h2>
        </div>

        <div class="container-fluid">
            <div class="row">
            <!-- Iterate through blog posts -->
            {% for post in blog_home %}
                <!-- Only display published blog posts -->
                {% if post.status == 1 %}
                <div class="col-12 mt-3 ml-5 mb-5 {% cycle 'home-blog1' 'home-blog2' %}">
                    <div class="card home-blog-mobile">
                        <div class="card-horizontal">
                            <div>
                                <img class="home-blog-image" src="{{ post.image_url}}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h3 class="text-center">
                                {{ post.title }}
                                </h3>
                                <p class="primary-text">{{post.content|truncatechars:180 }}
                                </p>
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'post_detail' post.slug  %}" class="blog-read-more">Read full blog post
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated {{ post.updated_on }}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>