<div class="h-50 products-hero" id="contact">
    <hr>
    <div class="row">
        <div class="col-xl-12">
            <!--Section: Contact v.2-->
            <section class="mb-4 form-padding">
                <div class="bg-beige form-border">

                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact me</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions about a purchase or my photography? Please do not hesitate
                        to
                        contact me directly. I'll get back to you shortly to adress your enquiries.</p>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="" method="POST">
                                {% csrf_token %}
                                {{ form.name_of_field.errors }}

                                {% crispy form %}

                            </form> 
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-3 text-center">
                            <ul class="list-unstyled mb-0">
                                <li><i class="fas fa-map-marker-alt fa-2x contact-icon"></i>
                                    <p class="mobile-contact-info">Harrisburg, PA 17110, USA</p>
                                </li>

                                <li><i class="fas fa-phone mt-4 fa-2x contact-icon"></i>
                                    <p class="mobile-contact-info">+ 01 717 439 00001</p>
                                </li>

                                <li><i class="fas fa-envelope mt-4 fa-2x contact-icon"></i>
                                    <p class="mobile-contact-info">david.kelley.photos@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                    </div>
                </div>

            </section>
            <!--Section: Contact v.2-->

        </div>
    </div>

</div>