{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Products hero image -->
{% include 'products/includes/details-banner.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <!-- Products breadcrumbs-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'products' %}">Back to Products</a></li>
                    <li class="breadcrumb-item text-black" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>

            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="mb-2">{{ product.name }}</h3>
                <p class="lead mb-2 text-left font-weight-bold">
                ${{ product.price }}
                </p>
                <!-- Link to product Wishlist -->
                <div class="my-3">
                    <a class="btn btn-lg btn-outline-dark" role="button" href="{% url "user_wishlist" product.id %}">
                    Add to wishlist
                    <i class="fas fa-clipboard-list fa-lg"></i>
                    </a>   
                </div>
                {% if request.user.is_superuser %}
                <!-- Display option to edit/delete post if user is a superuser -->
                <div class="my-3">
                    <a class="btn btn-sm btn-dark" role="button" href="{% url 'edit_product' product.id %}">
                        Edit
                    </a> | 
                    
                    <a class="btn btn-sm btn-danger" role="button" href="{% url 'delete_product' product.id %}">
                        Delete
                    </a>
                </div>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
            </div>
            <!-- Form to add frame mat colors and quantity -->
            <form class="form"  method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="form-row">
                    <!-- Option to select a color -->
                    {% with product.has_colors as s %}
                    {% if s %}
                        <div class="col-12">
                            <p><strong>Frame mat color:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_color" id='id_product_color'>
                                {% comment %} <option disabled selected value="pick-color">Pick a color</option> {% endcomment %}
                                <option class="input-blue" value="blue" selected>Blue</option>
                                <option value="green">Green</option>
                                <option value="brown">Brown</option>
                                <option value="cream">Cream</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-12">
                    <!-- Option to select update Quantity -->
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty decrement-qty_{{ product.id }} btn btn-dark rounded-0" aria-label="Decrease product quantity" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                
                                <input class="form-control id_qty_{{ product.id }} qty_input" type="number" type="quantity"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}">
   
                                <div class="input-group-append">
                                    <button class="increment-qty increment-qty_{{ product.id }} btn btn-dark rounded-0"
                                    aria-label="Increase product quantity" data-item_id="{{ product.id}}" >
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5 mb-3">
                        <!-- Return to main products page -->
                        <a href="{% url 'products' %}" class="mr-3 mt-5 back-shop-link">
                            <span class="icon">
                                <i class="fas fa-chevron-left fa-sm"></i>
                            </span>
                            <span class="product-btn-font">Keep Shopping</span>
                        </a>
                        <input type="submit" class="buy-btn product-btn-font" value="Add to Bag">
                    </div>
                    <!-- Add product to cart -->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Include related products -->
{% include 'products/includes/related_products.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- JavaScript to for custom quantity input -->
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}