{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% include 'products/includes/product-banner.html' %}
{% endblock %}

{% block content %}

{% include 'products/includes/category-links.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-4 py-4">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                
                                    <img class="card-img-top2 product-card-shadow img-fluid product-img-dimensions" src="{{ product.image_url }}" alt="{{ product.name }}">
                               
                                {% else %}
                                
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                
                                {% endif %}
                                <div class="card-footer2 product-card-shadow ">
                                    <div class="px-3 py-2">
                                        <div>
                                        <p class="mb-1 text-white text-center">{{ product.name }} <i class="fas fa-heart text-white"></i></p>
                                        <p class="lead mb-0 text-left font-weight-bold text-center text-white">${{ product.price }}</p>
                                    </div>
                                        <div class="text-center">
                                            
                                            <a class="btn btn-light" href="{% url 'product_detail' product.id %}" role="button">Product details</a>
                                        </div>
                                    </div>

                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                       
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}